apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - configmap.yaml
images:
  - name: ghcr.io/avbtrifork/fhir-facade
    newName: ghcr.io/avbtrifork/fhir-facade
    newTag: v1.0.3
