apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - configmap.yaml
patches:
  - target:
      kind: Service
      name: kargo-demo-12
    patch: |-
      - op: replace
        path: /spec/ports/0/nodePort
        value: 30081
images:
  - name: ghcr.io/avbtrifork/fhir-facade
    newName: ghcr.io/avbtrifork/fhir-facade
    newTag: v1.0.0
